
.p{
  color: black;
  text-align: center;
}
.button{
  text-align:center;
  color: white;
  text-decoration: solid;
}
.main-part
{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg');
}

.aboutus{
    background-color: #B5D3E7;
}
.footer{
  background-color:rgb(0, 139, 63) ;
}
